:root {
  --wrapper: #357ae8; 
  --chip-bg: #eee;
  --chip-text: #777;
  --list-text: #333;
  --list-email: #999;
  --white: #fff;
  --highlight: #ffd9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.suggestion-container {
  padding: 1rem;
}

.suggestion-wrapper {
  border-bottom: 2px solid var(--wrapper);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.suggestion-chips {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.suggestion-chip {
  margin: 0 .5rem .5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--chip-bg);
  border-radius: 50px;
}

.suggestion-chip.highlight {
  background-color: var(--highlight);
}

.suggestion-chip-image,
.suggestion-list-image {
  background-color: var(--wrapper);
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-radius: 50%;
}

.suggestion-chip-name {
  padding: 7px 10px;
  font-size: 15px;
  color: var(--chip-text);
}

.suggestion-chip-remove {
  padding: 6px 10px 6px 0;
  cursor: pointer;
}

.suggestion-chip-remove img {
  height: 10px;
  width: 10px;
}

.suggestion-input-with-list {
  position: relative;
  min-width: 365px;
}

.suggestion-input {
  border: 0;
  height: 30px;
  width: 100%
}

.suggestion-input:focus {
  outline: 0;
  border: 0;
}

.suggestion-list-container {
  position: absolute;
  top: 30px;
  left: 0;
  max-height: 300px;
  overflow: auto;
  background-color: var(--white);
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  border-radius: 2px;
}

.suggestion-list {
  display: flex;
  align-items: center;
  min-width: 360px;
  padding: 10px 15px;
  cursor: pointer;
}

.suggestion-list:hover {
  background-color: var(--chip-bg);
}

.suggestion-list-image {
  height: 40px;
  width: 40px;
}

.suggestion-list-name {
  padding: 0 15px;
  color: var(--list-text);
  font-size: 15px;
  flex: 1;
  text-align: left;
}

.suggestion-list-email {
  color: var(--list-email);
  font-size: 13px;
}